* {
  margin: 0;
}

/* common */
.container {
  width: 1024px;
  margin: auto;
}

.highlight {
  background-color: yellow;
}
/* end of common */

/* logo and header */
header {
  background-image: url("../img/pattern.png");
  background-size: 500px;
}

.logo {
  width: 200px;
  margin-top: 40px;
}
/* end of logo and header */

/* main */
main {
  margin-top: 20px;
}

/* credits */
.credits {
  color: grey;
}

.authors {
  color: blue;
}

.date {
  font-size: 10px;
  color: grey;
}
/* end of credits */

/* photos */
.photos {
  margin-top: 20px;
}

.didascalie {
  font-size: 10px;
}
/* end of photos */

/* article */
.text {
  margin-top: 20px;
}

.list {
  margin-top: 20px;
}

/* table */
table {
  margin-top: 20px;
  border-spacing: 0px;
}

.text-table {
  width: 50%;
}

thead {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}
/* end of table */

.final-article {
  margin-top: 20px;
}
/* end of article */
/* end of main */

/* footer */
footer {
  margin-top: 20px;
}

footer p {
  color: grey;
}

.monitor {
  background-image: url("../img/monitor.jpg");
  width: 300px;
  height: 200px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.graph {
  background-image: url("../img/graph.jpg");
  width: 300px;
  height: 200px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
/* end of footer */
